<h1>Archive config</h1>

<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<p>
  <strong>Key:</strong>
  <%= @archive_config.key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @archive_config.name %>
</p>

<p>
  <strong>Default fandom:</strong>
  <%= @archive_config.fandom %>
</p>

<p>
  <strong>Stories note:</strong>
  <%= @archive_config.stories_note %>
</p>

<p>
  <strong>Bookmarks note:</strong>
  <%= @archive_config.bookmarks_note %>
</p>

<p>
  <strong>Send email:</strong>
  <%= @archive_config.send_email %>
</p>

<p>
  <strong>Post preview:</strong>
  <%= @archive_config.post_preview %>
</p>

<p>
  <strong>Archivist:</strong>
  <%= @archive_config.archivist %>
</p>

<p>
  <strong>Collection name:</strong>
  <%= @archive_config.collection_name %>
</p>

<%= link_to 'Edit', edit_archive_config_path(@archive_config), class: "btn btn-primary" %>
