<h1>Archive config</h1>

<% if notice %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<p>
  <strong>Key:</strong>
  <%= @site_config.key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @site_config.name %>
</p>

<p>
  <strong>Fandom:</strong>
  <%= @site_config.fandom %>
</p>

<p>
  <strong>Stories note:</strong>
  <%= @site_config.stories_note %>
</p>

<p>
  <strong>Bookmarks note:</strong>
  <%= @site_config.bookmarks_note %>
</p>

<p>
  <strong>Send email:</strong>
  <%= @site_config.send_email %>
</p>

<p>
  <strong>Post preview:</strong>
  <%= @site_config.post_preview %>
</p>

<p>
  <strong>Items per page:</strong>
  <%= @site_config.items_per_page %>
</p>

<p>
  <strong>Archivist:</strong>
  <%= @site_config.archivist %>
</p>

<p>
  <strong>Collection name:</strong>
  <%= @site_config.collection_name %>
</p>

<p>
  <strong>Imported:</strong>
  <%= @site_config.imported %>
</p>

<p>
  <strong>Not imported:</strong>
  <%= @site_config.not_imported %>
</p>

<%= link_to 'Edit', edit_archive_config_path(@site_config), class: "btn btn-primary" %>
