<%= react_component("AuthorsPage", {
  all_letters: @all_letters,
  controller: params[:controller],
  root_path: root_path,
  letter: params[:letter] || 'A',
  page: params[:page] || '1',
  pages: @pages,
  logo_path: asset_path("Opendoors.png"),
  config: @api_config.merge(@archive_config),
  current_user: current_user&.name || '',
  config_path: archive_config_path(@archive_config),
  authors: @authors
}) %>



<div id="pagination_table">
  <% @authors.each do |author|
    css_class = (author.imported || author.all_imported? ? "imported" : "") + (author.do_not_import ? " do_not_import" : "")
  %>

    <article id="<%= "author-#{author.id}" %>" class="<%= css_class %>">
      <a name="<%= author.name.to_s.parameterize(separator: "_") %>"></a>
        <div class="row justify-content-lg-center align-middle">
          <div class="col-12 col-md align-middle">
            <a href="#items-<%= author.id %>" data-toggle="collapse">
              <h2>
                <span class="badge badge-primary"><%= author.id %></span>
                <%= author.name %>
              </h2>
            </a>
          </div>
          <%= render "author_buttons", author: author %>
        </div>
        <div class="author message <%= @api_response %>">
          <%= @api_response %>
        </div>

        <div id="items-<%= author.id %>" class="<%= author.all_imported? ? "collapse" : "expanded" %>">
        <% if author.stories.present? %>
          <h3>Stories</h3>
          <% author.stories.each do |story| %>
              <%= render partial: "/shared/meta", locals: { item: story, type: :story, author_view: true } %>
          <% end %>
        <% end %>

        <% if author.story_links.present? %>
          <h3>Story Links</h3>
          <% author.story_links.each do |story_link| %>
              <%= render partial: "/shared/meta", locals: {item: story_link, type: :bookmark, author_view: true } %>
          <% end %>
        <% end %>

        <% if author.coauthored_stories.present? %>
          <h3>Co-authored stories</h3>
          <% author.coauthored_stories.each do |story| %>
            <%= render partial: "/shared/meta", locals: { item: story, type: :coauthored_story, author_view: true } %>
          <% end %>
        <% end %>
        </div>
    </article>
  <% end %>
</div>


  <%= link_to "Hide imported authors", "#",
              id: "all-author-hide", remote: true,
              class: "btn btn-hide-all",
              data: { method: :post, button: :hideAllImported } %>
</div>
