<%
  is_story = type == :story
  css_class = item.imported ? "imported" : ""
  css_class += " do_not_import" if item.do_not_import
  css_class += " broken_link" if item.has_attribute?(:broken_link) && item.broken_link
  css_class += " #{type}"
  item_id = item_id(type, item.id)
%>

<section class="item <%= css_class %>"
         id="<%= item_id %>">

  <div class="row col-12">
    <!-- Title and authors -->
    <h4 class="col">
      <span class="badge badge-info"><%= item.id %></span>
      <a href="<%= "#details-#{item_id}" %>" data-toggle="collapse">
        <% if (is_story || type == :coauthored_story) && item.chapters.size > 0 %>
          <span><%= item.title %></span>
        <% else %>
          <a href="<%= item.url %>"><%= item.title %></a>
        <% end %>

        <% if !author_view || item.coauthor? %>
        <span>by <b><%= item.author.name %></b>
          <% if item.coauthor? %>
            <span>and <b><%= item.coauthor.name %></b></span>
          <% end %>
        </span>
        <% end %>

        <% if is_story %>
          (<%= item.chapters.size %> chapters)
        <% else %>
          <a href="<%= "#details-#{type}-#{item.id}" %>" data-toggle="collapse">(expand)</a>
        <% end %>
        <% if item.import_notes.present? %>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        <% end %>
      </a>
    </h4>

    <!-- Buttons -->
    <div class="col">
      <% if type != :coauthored_story %>
        <%= link_to "Import", item_import_path(type, item.id),
                    id: "item-import-#{item.id}", remote: true,
                    data: {method: :post, button: :import, item: item.id, type: type, class: "btn btn-info"} %>
      <% end %>
    </div>
  </div>

  <div class="w-100"></div>

  <!-- Blurb -->
  <div id="<%= "details-#{item_id}" %>" class="row col-12 collapse">
    <div id="<%= "meta-#{item_id}" %>" class="col col-6">
      [<%= item.rating %>]
        <% if item.categories.present? %>
          - <%= item.categories %>
        <% end %>
        <% if item.fandoms.present? %>
          - <b>Fandoms:</b> <%= item.fandoms %>
        <% end %>
        <br/>

        <% if item.date.present? %>
          <b>Date:</b> <%= item.date %>
          <!--@Model.Date.ToString("yyyy-MM-dd")-->
          <% if is_story && item.updated.present? %>
            - <b>Updated:</b> <%= item.updated %>
            <!--ToString("yyyy-MM-dd")-->
          <% end %>
          <br/>
        <% end %>

        <% if item.warnings.present? %>
          <b>Warnings:</b> <%= item.warnings %><br/>
        <% end %>
        <% if item.relationships.present? %>
          <b>Relationships:</b> <%= item.relationships %><br/>
        <% end %>
        <% if item.characters.present? %>
          <b>Characters:</b> <%= item.characters %><br/>
        <% end %>
        <% if item.tags.present? %>
          <b>Tags:</b> <%= item.tags %><br/>
        <% end %>

      <b>Summary:</b> <%= item.summary.html_safe %><br/>

      <% if is_story %>
        <ol>
          <% item.chapters.each do |chapter| %>
            <li>
              <%= link_to chapter.title, chapter_path(chapter.id) %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div><!-- end meta -->

    <!-- Audit -->
    <div id="<%= "audit-#{item_id}" %>" class="col col-6">
      <%= item.import_notes.html_safe %>
    </div>
  </div> <!-- end details -->

    <div class="message">
      <% if @api_response.present? && @api_response[item_id.to_sym] %>
        <ul>
          <% @api_response[item_id.to_sym][:messages].each do |s| %>
            <li><%= s.html_safe %></li>
          <% end %>
        </ul>
      <% end %>
    </div>

</section>
