<%
  is_story = type == :story
  css_class = item.imported ? "imported" : ""
  css_class += " do_not_import" if item.do_not_import
  css_class += " broken_link" if item.has_attribute?(:broken_link) && item.broken_link
  css_class += " #{type}"
  item_id = item_id(type, item.id)
%>

<section class="item <%= css_class %>"
         id="<%= item_id %>">

  <div class="row col-12 align-items-center" style="padding-right: 0px">
    <!-- Title and authors -->
    <h4 class="col col-lg-5 col-md-12">
      <span class="badge badge-info"><%= item.id %></span>
      <a href="<%= "#details-#{item_id}" %>" data-toggle="collapse">
        <% if (is_story || type == :coauthored_story) && item.chapters.size > 0 %>
          <span><%= item.title %></span>
        <% else %>
          <a href="<%= item.url %>"><%= item.title %></a>
        <% end %>

        <% if !author_view || item.coauthor? %>
        <span>by <b><%= item.author.name %></b>
          <% if item.coauthor? %>
            <span>and <b><%= item.coauthor.name %></b></span>
          <% end %>
        </span>
        <% end %>

        <% if is_story %>
          (<%= item.chapters.size %> chapters)
        <% else %>
          <a href="<%= "#details-#{type}-#{item.id}" %>" data-toggle="collapse">(expand)</a>
        <% end %>
        <% if item.audits.present? %>
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        <% end %>
      </a>
    </h4>

    <!-- BUTTONS -->
    <div class=" col-lg-7 col-sm-12 extra-space text-right" style="padding-right: 0px;">
      <% if type != :coauthored_story %>
        <!-- Import -->
        <span id="<%= "import-#{item_id}" %>">
          <% if item.imported %>
            <a href="<%= item.ao3_url %>" target="_blank"><%= item.ao3_url %></a>
          <% else %>
              <%= link_to "Import", item_import_path(type, item.id),
                          id: "item-import-#{item_id}", remote: true,
                          class: "btn-sm btn-import", hidden: item.do_not_import,
                          data: {
                            method: :post, button: :import,
                            item: item.id, type: type
                          } %>
          <% end %>
        </span>
        <!-- Mark as import - we don't think we need this anymore
        <span>&nbsp;</span>
        <% #= link_to (item.imported ? "Mark as NOT imported" : "Mark as imported"), item_mark_path(type, item.id),
           #         id: "item-mark-#{item_id}", remote: true,
           #         data: { method: :post, button: :mark, item: item.id, type: type } %>
        -->
        <span>&nbsp;</span>
        <%= link_to (item.do_not_import ? "Mark as ALLOW import" : "Mark as do NOT import"), item_dni_path(type, item.id),
                    id: "item-dni-#{item_id}", remote: true,
                    class: "btn-sm btn-dni", confirm: "Are you sure this #{type} should not be imported?",
                    data: { method: :post, button: :dni, item: item.id, type: type } %>
      <% end %>
    </div>
  </div>

  <div class="w-100"></div>

  <!-- Blurb -->
  <div id="<%= "details-#{item_id}" %>" class="details row col-12 collapse">
    <div id="<%= "meta-#{item_id}" %>" class="blurb col-lg-6 col-md-12">
      <b>Rating:</b> <%= item.rating.present? ? item.rating : "None" %><br/>
      <b>Warnings:</b> <%= item.warnings.present? ? item.warnings : "None" %><br/>
      <b>Categories:</b> <%= item.categories.present? ? item.categories : "None" %><br/>
      <b>Fandoms:</b> <%= item.fandoms.present? ? item.fandoms : "None" %><br/>
      <b>Relationships:</b> <%= item.relationships.present? ? item.relationships : "None" %><br/>
      <b>Characters:</b> <%= item.characters.present? ? item.characters : "None" %><br/>
      <b>Tags:</b> <%= item.tags.present? ? item.tags : "None" %><br/>
      <b>Date:</b> <%= item.date.present? ? item.date.to_date.to_s(:iso8601)   : "No date" %>
      <% if is_story %>
        - <b>Updated:</b> <%= item.updated.present? ? item.updated.to_date.to_s(:iso8601)   : "No update date set" %>
      <% end %>
      <br/>

      <b>Summary:</b> <%= item.summary.html_safe %><br/>

      <% if is_story %>
        <ol>
          <% item.chapters.each do |chapter| %>
            <li>
              <%= link_to chapter.title, chapter_path(chapter.id) %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </div><!-- end meta -->

    <!-- Audit -->
    <div id="<%= "audit-#{item_id}" %>" class="audit col-lg-6 col-md-12">
      <% item.audits.each do |audit| %>
        <%= audit.created_at %> - [<%= audit.remote_address %>] <%= audit.comment %><br/>
      <% end %>
    </div>
  </div> <!-- end details -->

    <div class="message">
      <% if @api_response.present? && @api_response[item_id.to_sym] %>
        <ul>
          <% @api_response[item_id.to_sym][:messages].each do |s| %>
            <li><%= s.html_safe %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
</section>
