<%= render partial: "shared/navigation" %>

<div class="container">
  <%
    is_first_chapter = @chapter.position <= 1
    story = @chapter.story

    def tag_html(tag_name, tag)
      if tag && !tag.blank?
        "<br/><b>#{tag_name}:</b> #{tag}"
      else
        "<br/><b>No #{tag_name.downcase}</b>"
      end
    end
  %>

  <% content_for :title, story.title + " - Chapter #{@chapter.position}" %>

  <!-- Body Content -->
  <h2>
    <span class="badge badge-info"><%= story.id %></span>
    <%= story.title %>
    <small>by <a href="<%= "#{authors_path}?letter=#{story.author.name[0].upcase}" %>"><%= story.author.name %></a><%= story.coauthor? ? " and #{story.coauthor.name}" : "" %></small>
  </h2>
  <h3><span class="badge badge-info"><%= @chapter.id %></span> <%= @chapter.title %></h3>

  <% if story.imported && story.ao3_url %>
    <div class="alert alert-success" role="alert">
      Story imported to <a href="<%= story.ao3_url %>" target="_blank"><%= story.ao3_url %></a>
    </div>
  <% end %>

  <div class="invisible"><b>Title:</b> <%= story.title %></div>

  <div class="card">
    <div class="card-text">
      <% if is_first_chapter && @archive_config.present? %>
        <b>Note:</b><br/>
        <div style="border: 1px silver solid;">
          <%= raw @archive_config.stories_note %>
          <% if story.notes.present? %>
            <br/><br/>
            <p>--</p>
            <span>Author's notes:</span> <%= raw story.notes %>
          <% end %>
        </div>
      <% end %>

      <!-- Hide summary so it doesn't get imported as the chapter summary (AO3-6191) -->

      <%= raw tag_html("Rating", story.rating) %>
      <%= raw tag_html("Warnings", story.warnings) %>
      <%= raw tag_html("Categories", story.categories) %>
      <%= raw tag_html("Fandoms", story.fandoms) %>
      <%= raw tag_html("Relationships", story.relationships) %>
      <%= raw tag_html("Characters", story.characters) %>
      <%= raw tag_html("Tags", story.tags) %>

      <!--// DON'T INDENT start tag - THIS *ALWAYS* GETS SCRAPED -->
      <!-- First chapter in single chapter work or non-first in multichapter -> updated date -->
      <br/>
      <b>Date:</b> <%=
      if (is_first_chapter && story.chapters.size == 1) || (!is_first_chapter && story.chapters.size > 1)
        (story.updated || story.date || DateTime.now).to_s(:iso_date)
      elsif is_first_chapter && story.chapters.size > 1
        (story.date || story.updated || DateTime.now).to_s(:iso_date)
      end
    %>
      <br/>
      <b>Chapter Title:</b> <%= @chapter.title.blank? ? "Chapter #{@chapter.position}" : @chapter.title %>
      <br/><b>Chapter Number:</b> <%= @chapter.position %>

      <% if @chapter.date.present? %>
        <br/><b>Chapter posted:</b> <%= @chapter.date.to_s(:iso_date) %>
      <% end %>
    </div>
  </div>

  <div class="chapter-content" style="white-space: pre-line">
    <% if @chapter.notes.present? %>
      <div class="form-group">
        <label class="col-sm-2">Author's notes:</label> <%= raw @chapter.notes %>
      </div>
      <hr/>
    <% end %>
    <%= raw @chapter.text %>
  </div>

</div>