<h1>Archive stats</h1>

<h2>Counts</h2>
<div class="card-deck">
  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Authors</h3>

      <p class="card-text"><b>Total authors:</b> <%= @stats.authors.all %></p>
      <p class="card-text"><b>Imported authors:</b> <%= @stats.authors.imported %></p>
      <p class="card-text"><b>Marked do not import:</b> <%= @stats.authors.dni %></p>
      <p class="card-text"><b>Not marked imported:</b> <%= @stats.authors.not_imported %></p>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Authors by letter</h3>

      <p class="card-text"><b>Total author groups:</b> <%= @stats.letters.all %></p>
      <p class="card-text"><b>Imported groups:</b> <%= @stats.letters.imported.size %><br/>
        <% @stats.letters.imported.each do |letter, _| %>
            <% if letter =~ /[0-9a-zA-Z]/ %>
                <%= link_to letter, authors_path(letter: letter.to_s) %>
            <% else %>
                <%= link_to letter, authors_path(letter: "*") %>
            <% end %>
        <% end %>
      </p>
      <p class="card-text"><b>Still to import:</b> <%= @stats.letters.not_imported.size %><br/>
        <% @stats.letters.not_imported.each do |letter, _| %>
            <% if letter =~ /[0-9a-zA-Z]/ %>
              <%= link_to letter, authors_path(letter: letter.to_s) %>
            <% else %>
              <%= link_to letter, authors_path(letter: "*") %>
            <% end %>
        <% end %>
      </p>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Stories</h3>

      <p class="card-text"><b>Total stories:</b> <%= @stats.stories.all %></p>
      <p class="card-text"><b>Imported stories:</b> <%= @stats.stories.imported %></p>
      <p class="card-text"><b>Marked do not import:</b> <%= @stats.stories.dni %></p>
      <p class="card-text"><b>Still to be imported:</b> <%= @stats.stories.not_imported %></p>
    </div>
  </div>

  <div class="card">
    <div class="card-block">
      <h3 class="card-title">Story links</h3>
      <p class="card-text"><b>Total stories:</b> <%= @stats.story_links.all %></p>
      <p class="card-text"><b>Imported stories:</b> <%= @stats.story_links.imported %></p>
      <p class="card-text"><b>Marked do not import:</b> <%= @stats.story_links.dni %></p>
      <p class="card-text"><b>Still to be imported:</b> <%= @stats.story_links.not_imported %></p>
    </div>
  </div>
</div>

