<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= APP_CONFIG[:name] %><%= content_for?(:title) ? " - #{yield(:title)}" : "" %></title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>

<body>

  <%= yield %>

<footer>
  <%= APP_CONFIG[:version] %>
</footer>
</body>
</html>

